.container {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size:0.8rem;
    color: #00997F;
    margin:1rem;
}
.link {
    all:unset;
    text-decoration: none;
    color:#00997F;
    padding:1.5rem;
    font-size:2rem;
    cursor: pointer;
    font-weight:bold;
    font-style: normal;
}