.homeContainer {
    display: grid;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 2rem;
    padding: 0;
    text-align: justify;
  }
  
  .links {
    all: unset;
    color: #00997F;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #00997F;
    background-color: rgb(244, 244, 244);
  }
  
  .links:hover {
    color: #0D1F2D;
  }
  
  .parag {
    font-size: 0.9rem;
    color: #00997F;
    margin: 1rem;
    width: 35vw;
  }

  @media only screen and (max-width: 768px) {
    .homeContainer {
      font-size: 1.5rem;
    }
    
    .links {
      font-size: 1.2rem;
    }
    
    .parag {
      font-size: 0.8rem;
      width: 70vw;
    }
  }
  
 
  @media only screen and (max-width: 480px) {
    .homeContainer {
      font-size: 1rem;
    }
    
    .links {
      font-size: 1rem;
      padding: 0.5rem;
      border-width: 1px;
    }
    
    .parag {
      font-size: 0.7rem;
      width: 90vw;
    }
  }
